@media (max-width: 479px) {


        .header_title {
            font-size: 34px;
        }
        .header_bottom {
            flex-direction: column;
        }
        .header_label {
            text-align: center;
        }
        .header_text {
            font-size: 17px;
            margin-bottom: 30px;
        }
        .certificate_items > * {
            width: 100%;
        }
        .certificate_item-img {
            width: 100%;
            height: auto;
        }





}
